files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/install_pma.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/www/html && sudo chown ec2-user .
      wget https://files.phpmyadmin.net/phpMyAdmin/4.5.0.2/phpMyAdmin-4.5.0.2-all-languages.tar.bz2
      sudo tar -jxf /var/www/html/phpMyAdmin-4.5.0.2-all-languages.tar.bz2 -C /var/www/html
      sudo mv /var/www/html/phpMyAdmin-4.5.0.2-all-languages /var/www/html/phpmyadmin
      sudo rm -f /var/www/html/phpMyAdmin-4.5.0.2-all-languages.tar.bz2
      sudo cp /etc/phpmyadmin/config.inc.php /var/www/html/public/phpmyadmin/
