/* .header-left,.header-right{width:0;}
.site {
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
}

.sidebar {
  height: 90px;
  width: 100%;
  display: flex;
  position: relative;
}

.sidebar .nav {
  padding: 0 30px;
  display: flex;
}

.sidebar .logo-icon {
  width: 78px;
  box-sizing: border-box;
  border: 0;
  border-right: 1px solid #4a4d56;
}

.nav-item a {
  padding: 23px 13px;
}
.width-fill {
  display: none;
}*/