*{margin:0;padding:0}
body{font-family:'Open Sans',sans-serif;background: #EDEFF5;}
.site{display:flex;width:100%;height:100%;position:absolute;flex-direction: column;}
.sidebar{background:#2F323A;width:80px;height:100%;box-sizing:border-box;display: flex;flex-direction: column;justify-content: space-between;}
.sidebar .nav{padding-top: 52px;}
.nav-item a{padding: 13px 20px;text-align:center;display: block;}
.nav-item.nav-selected a{background:#5093E1!important}
.nav-item a:hover{background:#344354}
.nav-item img{width:40px}
.main{flex:1;display:flex;justify-content:space-between;}
.main.main-login {flex-direction: column;}
.main.main-login .header{justify-content: center;}
.main.main-login .header-left, .main.main-login .header-right{display:none;}
.footer{background:#fff;padding: 20px 30px;border-top:10px solid #D1D7E9;display: flex;justify-content: space-between;}
.header{background:#fff;height:100px;display: flex;justify-content: space-between;border-bottom: 1px solid #DADADA;}
.header-logout {background: #5093E1;width: 55px;text-align: left;height: 100px;}
.header-logout img {width: 35px;margin: 32px 0 0 12px;}
.logo {height: 73px;margin: 14px 0;}
.width-scrollable{flex:1;padding: 50px 0 50px 50px;display:flex;overflow-x: scroll;}
.width-fill{flex:1;display:flex}
.flex-rows{flex-direction: column;}
.column{display:flex;flex-direction:column;width:390px;margin-right: 50px;}
.column-title{color:#A1A6B4;margin-bottom:40px;}
.card{background:#fff;margin-bottom:15px;height:100px;border-radius:5px;display:flex}
.card-left{color:#878284;background:#FBFBFB;display:flex;flex-direction:column;text-align:-webkit-center;font-size:12px;width:60px;box-sizing:border-box;border-top-left-radius:5px;border-bottom-left-radius:5px;font-weight: 600;}
.card-left svg{width:30px;display:inline-block;padding: 15px 0 0;}
.card-middle{padding:10px 20px;width:200px}
.card.accent-red .card-title, .card.accent-red svg, .key-colour.accent-red svg,.overlay-item.accent-red .overlay-item-title{color:#F5417C;fill:red;}
.card.accent-green .card-title, .card.accent-green svg, .key-colour.accent-green svg,.overlay-item.accent-green .overlay-item-title{color:#37B844;fill:#37B844;}
.card.accent-blue .card-title, .card.accent-blue svg, .key-colour.accent-blue svg,.overlay-item.accent-blue .overlay-item-title{color:#5093E1;fill:#5093E1;}
.card-title{font-weight:600;font-size:16px;line-height: 25px;}
.card-sub{color:#878485;font-size: 14px;font-weight: 600;}
.card-text{color:#AAABC2;font-size:14px;margin:10px 0;}
.card-right{border-left:3px solid #EDEFF5;text-align:-webkit-center;width:87px}
.card-right .card-graphic{border-radius:50%;width:55px;height:55px;display:inline-block;margin:20px 0}
.key-colour svg{width:10px}
.key-colour{margin-right:7px;}
.key-item{color:#92A0BD;font-weight:600;font-size:14px;margin-right:40px}
.calendar-key{display:flex}
.footer-right{font-size:12px;font-weight:300;color:#92A0BD}
.page-title{color:#4B87DD;font-size:23px;margin:15px 30px 7px}
.page-title.page-dark {margin: -2px 30px 0;color: #313549;}
.header-tabs,.resources-tabs,.dashboard-headers{display:flex;margin:0 30px;}
.header-tab-item.tab-selected,.resources-tab-item.tab-selected,.dashboard-header-item{border-bottom:5px solid #4C90E0;color:#313549}
.header-tab-item,.resources-tab-item,.dashboard-header-item{padding:10px 0;font-weight:600;color:#9FA3C1;margin-right:35px}
.header-left,.header-right{width: 385px;display: flex;}
.header-icon{background: #2f323a;width: 80px;}
.header-left .logo-icon {width: 48px;border-bottom: 1px solid #4a4d56;padding: 15px 16px;}
.header-right{height:100%;justify-content: flex-end;}
.panel-contacts{width:350px;background:#fff;height: 100%;display: flex;flex-direction: column;border-right: 1px solid #DADADA;}
.panel-alpha{background:#EDEFF5;color:#A4A3BD;font-weight:600;padding: 7px;}
.alpha-item.item-selected{background:#fff;border-radius:50%;color:#3E8BDF;font-weight:800}
.alpha-item{text-align:center;padding: 5px;width: 30px;font-size:14px;box-sizing:border-box;height: 30px;margin-bottom: 2px;}
.panel-person-info{background:#fff;flex:1;padding:20px 35px}
.person-title{color:#4189DE;font-size:28px;padding-bottom:10px}
.person-extra{font-weight:600;color:#A5A3BA;font-size:15px;display:flex}
.person-email{margin-right:40px}
.contact-item{font-size:17px;display: flex;justify-content: space-between;padding: 20px 25px;cursor:pointer;}
.contact-item:hover{background: #f1f1f1;}
.contact-options{color:#B5BDCA;font-size: 12px;font-weight: 600;margin: 4px 0 0;}
.contact-name{color:#6B6C71;font-weight: 300;margin-top: 4px;}
.contact-options img {width: 25px;}
.contact-item.item-selected{background:#5093E1}
.contact-item.item-selected .contact-name,.contact-item.item-selected .contact-number{color:#fff}
.contacts-list{overflow-y: hidden;margin-top: -10px;border-top: none;padding-top: 10px;}
.search-box{text-align:center;padding:20px}
input[type="text"], input[type="password"]{border:1px solid #E2E4E5;border-radius:20px;color: #6c6b71;padding:12px 20px;width:270px;font-family:'Open Sans',sans-serif;font-size:16px;outline:none;}
.action-button{background:#50C14E;color:#fff;font-size:18px;border-radius:4px;padding:7px 13px;display:inline-block;margin-right:10px}
.action-button img{height:24px;vertical-align:-6px;margin-left:8px}
.person-buttons{margin:30px 0}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track { background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #d1d7e9;}
::-webkit-scrollbar-thumb:hover {background: #c0c7d7;}
.calendar-day{color:#ADAEBF;font-size:14px;flex:1;padding-left:15px}
.calendar-cell{border:1px solid #DDD;background:#fff;flex:1;height:130px}
.calendar-number{color:#AEB2BE;font-weight:600;font-size:13px;margin: 17px 21px 0;}
.calendar-container{display:flex;flex-direction:column;width:100%;background:#fff}
.calendar-days{display:flex;padding:50px 10px 25px}
.calendar-grid{display:flex;flex-direction:column}
.calendar-week{display:flex}
.calendar-cell.cell-empty .calendar-number{opacity:.4}
.calendar-week:nth-of-type(1) .calendar-cell{border-top-width:2px}
.calendar-week:nth-of-type(5) .calendar-cell{border-bottom-width:2px}
.event-item{color:#777373;font-size:16px}
.today-item{background: #dedede;width: 18px;text-align: center;border-radius: 50%;border: 1px solid #aaa;color: #313549;padding: 5px;margin: -5px;}
.cell-event .calendar-number {color: #313549;}
.calendar-events{padding: 8px 24px 0;}
.calendar-cell.cell-event{background:#EDEFF5}
.calendar-manage{background:#fff;border-top:2px solid #DCDCDC;display:flex;padding:30px 35px;justify-content: space-between;}
.calendar-setting{font-size:16px;font-weight:600;color:#9FA6BF;margin-right:45px}
.calendar-setting img{height:35px;vertical-align:middle;margin-right:3px; cursor:pointer;}
.calendar-overlay,.notifications-overlay{position: absolute;z-index:1;background:#fff;border:2px solid #bbc1d0;box-shadow:1px 3px 5px #00000029;border-radius:7px;padding: 27px 45px 30px 27px;max-width: 430px;}
.calendar-overlay-title,.notifications-overlay-title{color:#ADAEBF;font-size:18px;padding-left:28px;}
.calendar-overlay-item-title,.notifications-overlay-item-title{font-weight:600;font-size:18px}
.calendar-overlay-item-sub,.notifications-overlay-item-sub{font-weight:600;color:#6A6D77;font-size:16px}
.calendar-overlay-item-description,.notifications-overlay-item-description{color:#B1B9CD;font-size:14px}
.calendar-overlay:before,.notifications-overlay:before{position:absolute;content:" ";border:20px solid transparent;border-right-color:#bbc1d0;top:0;margin:37px -67px}
.calendar-overlay:after,.notifications-overlay:after{position:absolute;content:" ";border:17px solid transparent;border-right-color:#fff;top:0;margin:40px -61px}
.calendar-overlay-item{display: inline-flex;margin: 20px 20px 0 0;}
.calendar-overlay-indent,.notifications-overlay-indent{margin-left:12px}
.header.header-extended {height: 350px;}
.header.header-extended .logo {height: 100px;margin: 200px 0 0;}
input[type="button"],input[type="submit"]{border: 1px solid #E4E5E6;background:#fff;font-family:'Open Sans',sans-serif;font-weight: 600;color: #279dff;font-size:14px;border-radius: 17px;padding:12px;width: 100%;outline: none;}
#login-form{display:flex;flex-direction:column;width: 310px;}
#login-form input{margin-bottom: 20px;outline: none;}
.login-container {width: 100%;text-align: -webkit-center;margin: 45px 0 0;}
input[type="text"].error, input[type="password"].error {border: 1px solid #d23838;}
.form-errors {font-size: 13px;border: 1px solid #d23838;background: #d23838;color: #fff;border-radius: 10px;padding: 11px;font-weight: 600;}
.panel-subjects{width:430px;background:#fff;height:100%;display:flex;flex-direction:column}
.add-subject{border-bottom:1px solid #DADADA;display:flex;justify-content:space-between;align-items:center;padding:15px 32px}
.add-subject-title{font-weight:600;color:#353655;font-size:15px}
.add-subject-button{height:28px;cursor: pointer;}
.subject-list-header-item{text-transform:uppercase;color:#A1B1CE;font-size:14px;font-weight:600;padding:10px}
.subject-list-headers{display:flex}
.subject-list{padding:20px}
.subject-list-item{padding:10px;display:flex;margin-bottom:10px;border: 1px solid transparent;}
.subject-list-letter{color:#fff;font-weight:600;padding: 7px 0;display:inline-block;font-size:14px;width: 37px;text-align:center;box-sizing: border-box;}
.subject-list-letter.letter-green{background:#4DB94A}
.subject-list-letter.letter-red{background:#B94A75}
.subject-list-letter.letter-blue{background:#4687B5}
.subject-list-letter.letter-purple{background:#8649B2}
.subject-list-name{color:#73787D;padding:4px 15px 0;width:180px}
.subject-list-level,.subject-list-files{color:#A4ACC2;font-size:14px;padding:5px 15px 0;width:70px}
.subject-list-files{width:30px}
.subject-list-header-item.header-subject{width:218px}
.subject-list-header-item.header-level{width:70px}
.subject-list-item.item-selected,.subject-list-item:not(.no-hover):hover{cursor:pointer;border-color: #AAB1C6;border-radius:10px;}
.panel-resources{background:#fff;flex:1;border-left:1px solid #DADADA;padding:20px 30px}
.resources-row{background:#F6F7FA;border-radius:10px;display:flex;padding:10px 20px;margin-bottom:15px;}
.resources-table-header.resources-row{background:#fff}
.resources-tabs{margin:0}
.resources-table{margin:50px 0 0}
.resources-table-cell{color:#63687d;width:220px}
.resources-table-header img{width:12px}
.resources-faces-list{display:flex}
.resources-faces-list img{width:35px;height:35px;border-radius:50%;margin-right:10px;cursor:pointer;}
.resources-table-cell:not(.resources-faces-list){padding-top:6px}
input.bold-button {width: 165px;text-transform: uppercase;font-weight: 700;font-size: 12px;margin: 20px 0;}
.dashboard-headers{padding:30px 15px 25px}
.dashboard-header-item{height:15px;color:#313549;font-size:14px;border-bottom-width:3px;margin-right: 480px;}
.dashboard-panels{display:flex;padding:0 30px}
.dashboard-panel-item{padding-left:15px;width: 550px;display:flex;flex-wrap: wrap;align-content: flex-start;}
.circle.over50 .slice{clip:rect(auto,auto,auto,auto)}
.circle .bar,.circle.over50 .fill{position:absolute;border:.08em solid #307bbb;width:.84em;height:.84em;clip:rect(0em,0.5em,1em,0em);border-radius:50%;transform:rotate(0deg)}
.circle.over50 .bar:after,.circle.over50 .fill{transform:rotate(180deg)}
.circle{position:relative;font-size:75px;width:1em;height:1em;border-radius:50%;float:left;margin:0 .1em .1em 0;background-color:#ccc}
.circle *,.circle :before,.circle :after{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.circle > span{position:absolute;width:100%;z-index:1;left:0;top:0;width:5em;line-height:5em;font-size:.2em;color:#ccc;display:block;text-align:center;white-space:nowrap}
.circle:after{position:absolute;top:.08em;left:.08em;display:block;content:" ";border-radius:50%;background-color:#f5f5f5;width:.84em;height:.84em}
.circle .slice{position:absolute;width:1em;height:1em;clip:rect(0em,1em,1em,0.5em)}
.subject-performance.rating-excellent .subject-performance-circle span,.subject-performance.rating-excellent .subject-performance-circle .bar,.subject-performance.rating-excellent .subject-performance-circle .fill{border-color:#4db53c!important;color:#4db53c}
.subject-performance.rating-good .subject-performance-circle span,.subject-performance.rating-good .subject-performance-circle .bar,.subject-performance.rating-good .subject-performance-circle .fill{border-color:#a2d058!important;color:#a2d058}
.subject-performance.rating-ok .subject-performance-circle span,.subject-performance.rating-ok .subject-performance-circle .bar,.subject-performance.rating-ok .subject-performance-circle .fill{border-color:#daa920!important;color:#daa920}
.subject-performance.rating-poor .subject-performance-circle span,.subject-performance.rating-poor .subject-performance-circle .bar,.subject-performance.rating-poor .subject-performance-circle .fill{border-color:#b94a4a!important;color:#b94a4a}
.subject-performance.rating-excellent .subject-performance-rating{background:#4db53c}
.subject-performance.rating-good .subject-performance-rating{background:#a2d058}
.subject-performance.rating-ok .subject-performance-rating{background:#daa920}
.subject-performance.rating-poor .subject-performance-rating{background:#b94a4a}
.subject-performance-name{color:#73787D;font-size:21px;padding-bottom:18px}
.subject-performance{display:flex;flex-direction:column;width: 290px;height: 210px;}
.subject-performance-caption{text-transform:uppercase;color:#A1B1CE;font-size:14px;font-weight:600;padding:10px 0;display:flex}
.subject-performance-rating{padding:6px 10px;color:#fff;border-radius:9px;font-size:12px;margin:-4px 14px 0}
.assignments-header .assignments-cell{text-transform:uppercase;color:#A1B1CE;font-size:14px;font-weight:600;width: 185px;}
.assignments-row{display:flex;padding: 0px 14px 15px;}
.assignments-row:not(.assignments-header){background:#fff;border-radius:8px;margin-bottom: 12px;padding-top: 8px;padding-bottom: 10px;}
.dashboard-panel-item.dashboard-item-long {width: 620px;}
.dashboard-header-item.dashboard-item-long {margin-right: 575px;}
.dashboard-header-item:last-of-type {margin-right: 0;}
.assignments-progress-bar{background:#d4d4d4;width:200px;height:10px;border-radius:10px;margin:10px 0}
.progress-complete{background:#5093E1;height:100%;border-radius:10px}
.assignments-progress{color:#ADA9B0;font-size:15px}
.assignments-list{margin:40px 80px 0 0}
.assignments-cell img{height:19px;margin-bottom:-4px}
.assignments-row .assignments-cell{width:170px;color:#A1B1CE;font-size:14px}
.assignments-row .assignments-cell:first-of-type{color:#475670}
.assignments-cell.due-soon {color: #f54a84;font-weight: bold;}
#contacts-widget{display:flex;flex: 1;}
.panel-chat{width: 600px;display:flex;flex-direction:column;border-right: 1px solid #DADADA;}
.chat-talking-to{background:#fff;border-bottom:1px solid #DADADA;font-weight:600;font-size:20px;color:#313549;text-align:center;padding:25px 0}
.chat-talking-to img{border-radius:50%;width:30px;vertical-align:-10px;margin-right:25px}
.chat-container{flex:1;position:relative;}
#contacts-widget textarea{border:none;border-top:1px solid #DADADA;font-family:'Open Sans',sans-serif;font-size:14px;padding:25px;outline:none;resize:none}
.chat-messages-container{position:absolute;bottom:0;padding:15px;width:100%;box-sizing:border-box;display:flex;flex-direction:column;height: 100%;overflow-y: scroll;}
.chat-message{border:1px solid #DADADA;background:#fff;border-radius:7px;font-size:14px;padding:8px 25px 8px 15px;margin:5px 0;max-width:200px}
.chat-message.outgoing{background:#4990e0;color:#fff;text-align:right;align-self:flex-end}
.modal-add-object{position: fixed;left: 50%;z-index:1;background:#fff;margin: 45px 0 0 0;box-shadow: 0 0 5px #0000004d;width: 450px;box-sizing: border-box;margin-left: -175px;top: 100px;border-radius: 8px;padding: 25px 25px 12px;}
.modal-add-object .search-box{padding:0;text-align: left;}
.modal-add-object .contact-item{padding:10px 18px;}
.modal-overlay {position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: #0000008c;}
.modal-title {font-size: 23px;font-weight: 600;color: #313549;padding-bottom: 17px;}
.modal-label {color: #2b2c2f;margin: 0 0 10px;}
.modal-separator {margin-top: 25px;}
.modal-add-object .contacts-list{border: 1px solid #E2E4E5;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;width: 309px;margin-top: -15px;padding-top: 14px;padding-bottom: 10px;}
input.add-subject-input {font-size: 13px;padding: 4px 12px;}
.subject-list-name input.add-subject-input { width: 85px;}
.subject-list-level input.add-subject-input { width:57px;}
.add-subject-input-image {width: 20px;cursor:pointer;}
.contact-notification,.sidebar-notification {background: #d40f0f;color: white;padding: 4px 0;border-radius: 50%;width: 32px;height: 32px;text-align: center;box-sizing: border-box;}
.sidebar-notification {width: 26px;height: 26px;position: absolute;margin: -30px 42px;font-size: 12px;}
.notifications {border-top: 1px solid #4a4d56;width: 100%;padding: 25px 0;}
.notifications img{margin-left:20px;}
.notifications .sidebar-notification{margin: -39px 0 0 10px;background: none;text-align: center;width: 60px;}
.notifications-overlay{left: 110px;bottom: 25px;padding: 27px 0 30px;}
.notifications-overlay:before{margin: 16px -40px;bottom: 0;top: initial;}
.notifications-overlay:after{margin: 19px -34px;bottom: 0;top: initial;}
.notifications-overlay-item{cursor:pointer;font-size: 14px;margin: 14px 0 -2px;max-width: 280px;padding: 7px 28px;}
.notifications-overlay-item:not(.nohover):hover{background:#f1f1f1;}
.notifications-overlay-item .clearall {width: 16px;margin: 0;vertical-align: -3px;margin-right: 5px;}